@import 'theme';
@import '~bootstrap/scss/bootstrap';
@import 'Home';
@import 'Explore';
@import 'Reconstruction';
@import 'ReconstructionCard';
@import 'TeamMemberCard';
@import 'Profile';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: map-get($map: $theme-colors, $key: 'bgColor');
}

.nav-link {
  color: map-get($map: $theme-colors, $key: 'secondary');
}

.nav-item.active .nav-link {
  color: map-get($map: $theme-colors, $key: 'linkColor');
}

.dropdown-item:hover {
  color: map-get($map: $theme-colors, $key: 'linkColor');
  background: transparent;
}

.form-optionLink a {
  color: map-get($map: $theme-colors, $key: 'blue');
}

.user-profile-icon {
  width: 42px;
  color: map-get($map: $theme-colors, $key: 'linkColor');

  &-bg {
    width: 100px;
    height: 100px;
    font-size: 50px;
  }

  &:hover {
    color: map-get($map: $theme-colors, $key: 'linkColor');
  }
}
.modal-content {
  border: 2px solid map-get($map: $theme-colors, $key: 'secondary');
  border-radius: 0.1rem;

  .modal-body {
    padding: 0px;
  }
  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: 0;
    color: rgba(0, 0, 0, 0.6);
    padding: 0px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    line-height: 30px;
    z-index: 2;

    &:hover {
      color: #000000;
    }
  }
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.footer-wrap {
  bottom: 0px;
  width: 100%;
  height: auto;
}
