.clock{
  color: #ffffff;
  font-size: 20px;
  position: relative;
  display: inline-block;
}

.clock > span{
  position: relative;
  margin: 0px 1px;
  padding: 20px 0px;
  border-radius: 10px;
  width: 50px;
  background-color: #333333;
  display: inline-block;
  text-align: center;
}
