.button {
  outline: 0;
  margin: 5px;
  cursor: pointer;
  font-size: 18px;
  color: #101820;
  padding: 10px 18px;
  border-radius: 9px;
  transition: 0.3s all;
  background: transparent;
  border: 1px solid #ffff00;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.button:hover,
.button:focus {
  border-color: #ffff00;
  background-color: #ffff00;
}
.button:active {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}
