.search-section {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 14px;
  }
}
.search-display {
  h2 {
    font-weight: 900;
  }
  .color-box {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;

    .recent-model {
      width: 360px;
      height: 190px;
      background-color: black;
      border-radius: 12px;
    }
  }
}
