.search-section {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 14px;
  }
}

.search-display {
  h2 {
    font-weight: 900;
  }
}

.reconstruction-card-container {
  margin-top: 28px;
  display: flex;
  justify-content: center;
}
