.hero-section {
  display: flex;
  align-items: center;
  height: 80vh;
}
.discover-section {
  margin-top: 50px;
}
.threedify-about-section p {
  width: 75%;
}
.reconstruction-card-container {
  margin-top: 28px;
  display: flex;
  justify-content: center;
}
.about-section-image img {
  width: 434px;
  height: auto;
}
.loading {
  margin-top: 64px;
  display: flex;
  justify-content: center;
}
.reconstruction-not-found {
  width: 100%;
  text-align: center;
  margin-top: 34px;
  font-size: 24px;
  .exclamation-circle {
    margin-right: 8px;
  }
}
.our-team-section {
  margin-top: 80px;
  margin-bottom: 80px;
  h1 {
    text-align: center;
  }
  .team-member {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
