.home-page {
  background-color: #f3f3f3;
}
.color-box > * {
  height: 234px;
  width: 364px;
  border-radius: 15px;
}
.link {
  color: black;
  text-decoration: underline;
  text-decoration-color: #f6de00;
}
.wrapper {
  text-align: center;
}

.our_team {
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.our_team .team_member {
  width: 265.5px;
  background: #fff;
  padding: 25px 12px;
  border-radius: 15px;
  height: 302px;
}

.our_team .team_member .member_img {
  max-width: 116px;
  width: 100%;
  height: 116px;
  margin: 30px auto;
}
.our_team .team_member .member_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center top;
}

.our_team .team_member h3 {
  font-size: 22px;
  line-height: 22px;
  margin: 15px 0 0px;
}
.our_team .team_member {
  font-size: 10px;
}
.social-media-icon {
  margin-right: 10px;
  cursor: pointer;
}
.social_media a {
  color: black !important;
}
