.link {
.hero-section {
  display: flex;
  align-items: center;
  height: 80vh;
}
.discover-section {
  margin-top: 50px;
}
.threedify-about-section p {
  width: 75%;
}
.reconstruction-card-container {
  margin-top: 28px;
  display: flex;
  justify-content: center;
}
.about-section-image img {
  width: 434px;
  height: auto;
}
.loading {
  margin-top: 64px;
  display: flex;
  justify-content: center;
}
.more-link {
  color: black;
  text-decoration: underline;
  text-decoration-color: #f6de00;
  font-size: 24px;
  margin-top: 12px;
  font-weight: bold;
}
.our-team-section {
  margin-top: 80px;
  margin-bottom: 80px;
  h1 {
    text-align: center;
  }
  .team-member {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
