.link {
  color: black;
  text-decoration: underline;
  text-decoration-color: #f6de00;
}
.our-team-section {
  margin-top: 80px;
  margin-bottom: 80px;
  h1 {
    text-align: center;
  }
  .team-member {
    margin-top: 24px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
