.inputfield {
  width: 270px;
  height: 32px;
  font-size: 14px;
  border: 2px solid yellow;
  border-radius: 9px;
  padding-left: 38px;
}

.inputfield:focus {
  outline: 0;
  box-shadow: 0 0 10px skyblue;
}

.icon-left {
  position: absolute;
  margin-left: 14px;
  margin-top: 8px;
  opacity: 0.5;
}

.icon-right {
  position: absolute;
  margin-left: 280px;
  margin-top: 8px;
  opacity: 0.5;
}
