.main-container {
  padding: 0 100px;
}

.reconstruction-card-container {
  max-width: 1098px;
  box-sizing: content-box;
}

.form {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  height: 400px;
  box-shadow: 0px 10px 15px rgba(53, 53, 53, 0.2);
}
