.reconstruction-card {
  width: 344px;
  height: 244px;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.1);
  background-color: map-get($map: $theme-colors, $key: 'secondary');

  &--small {
    width: 288px;
    height: 200px;
  }

  .reconstruction-card-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .reconstruction-card-details {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: left;
    position: absolute;
    visibility: hidden;
    align-items: flex-end;
    padding: 0px 30px 0px 30px;
    color: map-get($map: $theme-colors, $key: 'white');
    transition: all 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);

    .card-details {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      h5 {
        margin-bottom: 0px;
      }
      .heading-creator-hidden {
        margin-bottom: 24px;
      }

      .reconstruction-card-title:hover,
      .creator-user-name:hover {
        cursor: pointer;
        text-decoration: underline;
        color: map-get($map: $theme-colors, $key: 'primary');
      }

      .icon {
        &:hover {
          cursor: pointer;
        }

        &.icon-liked {
          color: map-get($map: $theme-colors, $key: 'primary');
        }
      }
    }
  }

  &:hover .reconstruction-card-details {
    opacity: 1;
    visibility: visible;
    background: rgba(0, 0, 0, 0.5);
  }
}
