.team-member-card {
  max-width: 260px;
  height: 300px;
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: map-get($map: $theme-colors, $key: 'white');
  border-radius: 16px;
  font-size: 14px;

  p {
    display: none;
    text-align: left;
  }

  h5 {
    margin-top: 24px;
    font-weight: 600;
  }

  .member-img {
    max-width: 116px;
    height: 116px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      object-position: center top;
    }
  }

  .social-media {
    display: flex;
    justify-content: center;

    .social-media-icon {
      margin-right: 12px;
      color: map-get($map: $theme-colors, $key: 'secondary');
    }
    .social-media-icon:hover {
      color: map-get($map: $theme-colors, $key: 'blue');
    }
  }
}

.team-member-card:hover {
  background-color: map-get($map: $theme-colors, $key: 'primary');
  justify-content: flex-start;
  align-items: flex-start;
  padding: 14px 18px;
  cursor: pointer;

  p {
    display: block;
  }

  .member-img {
    display: none;
  }
  .social-media {
    justify-content: flex-start;
  }
}
