$theme-colors: (
  'primary': #fee715,
  'secondary': #101820,
  'bgColor': #f3f3f3,
  'white': #fcfcfc,
  'blue': #152cfe,
);

$enable-shadows: true;
$enable-gradients: true;
$enable-responsive-font-sizes: true;
