$theme-colors: (
  'primary': #fee715,
  'secondary': #101820,
  'alternate': #f3f3f3,
  'bgColor': #f3f3f3,
  'white': #fcfcfc,
  'blue': #152cfe,
  'error': #d12f2f,
  'success': #2b976a,
  'linkColor': #c6b201,
);

$enable-shadows: true;
$enable-gradients: true;
$enable-responsive-font-sizes: true;
